{% extends 'EotvosVersenyBundle::base.html.twig'  %}
{% set active_menu = 'szekciok' %}
{% set threecol = true %}
{% set fbbox = false %}

{% block title %}
  {{ section.page.title }} Szekció
{% endblock %}

{% block rbody %}
  {% include 'EotvosVersenyBundle:Competition:section_sidebar.html.twig' with { 'page' : section.page } %}
{% endblock %}

{% block breadcrumb %}
{% if page is defined %}
<ul>
  {% for item in page.getParentList() %}
    <li>&nbsp;»&nbsp;<a href="{{ item | ecvurl }}">{{ item.title }}</a></li>
  {% endfor %}
    <li>&nbsp;»&nbsp;<a href="#">Véglegesítés</a></li>
</ul>
{% endif %}
{% endblock %}

{% block body %}
<h2>Véglegesítés</h2>
<p>
Véglegesíteni készülsz a dolgozatodat, melynek információi:
</p>
<ul>
<li>Fájlnév: {{ submdata.filename }}</li>
<li>Feltöltés ideje: {{ submission.submittedAt|date("Y. m. d. H:i:s") }}</li>
</ul>
<p>
Biztos? A véglegesítést visszavonni nem tudod. (Ha nem vagy biztos benne, inkább ne véglegesíts, a forduló végén a dolgozat automatikusan véglegesedik.)
</p>
<form method="post">
  <input type="submit" class="button" value="Véglegesítés" />
  <input type="button" class="button" value="Mégsem" style="margin-right: 20px;" />
</form>
{% endblock %}
