{% extends 'EotvosVersenyBundle::base.html.twig'  %}
{% set active_menu = 'szekciok' %}
{% set threecol = true %}
{% set fbbox = false %}

{% block title %}
  {{ section.page.title }} Szekció
{% endblock %}

{% block body %}
  <h2>{{ section.page.title }} Szekció - {{ round.page.title }} - Feltöltések</h2>
<table>
<thead>
  <tr>
    <th>#</th>
    <th>Név</th>
    <th>Idő</th>
  </tr>
</thead>
<tbody>
{% for i,upl in submissions %}
  <tr>
    <td class="idn">{{ i+1 }}</td>
    <td class="uplname">{% if upl.category != "" and upl.category != "undefined" %}[{{ upl.category }}] {% endif %}<a href="{{ url('competition_round_upd_download', { 'term': term, 'sectionSlug' : section.page.slug, 'roundSlug' : round.page.slug, 'submissionId' : upl.id }) }}">{{ upl.decodedData.filename }}</a> {% if upl.finalized %}<span class="finalized">[Véglegesített]</span>{% endif %}{% if upl.points %}<span class="ponts">({{ upl.points }} pont)</span>{% endif %}</td>
    <td class="time">{{ upl.submittedAt|date("Y. m. d.  H:i:s") }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}

{% block breadcrumb %}
{% if page is defined %}
<ul>
  {% for item in page.getParentList() %}
    <li>&nbsp;»&nbsp;<a href="{{ item | ecvurl }}">{{ item.title }}</a></li>
  {% endfor %}
    <li>&nbsp;»&nbsp;<a href="#">Feltöltések</a></li>
</ul>
{% endif %}
{% endblock %}

{% block rbody %}
  {% include 'EotvosVersenyBundle:Competition:section_sidebar.html.twig' with { 'page' : section.page } %}
{% endblock %}
